<div class="container">
  <div class="row">
 <div  class="col-md-offset-1 col-md-4 col-md-offset-1 col-sm-offset-1 col-sm-4 col-sm-offset-1">
　<section class="top_left">
  　<p class="flash"><%= notice %><%= alert %></p>
  　<img src="<%= asset_path "achieve.png" %>">
　</section>
　<h1>大課題３</h1>
　　<p>
    大課題３は、faceb〇〇kを真似たアプリです。<br>
    このアプリでは、Faceb〇〇kに似た投稿ができます。
   </p>
 </div>
 <div  class="col-md-offset-1 col-md-6  col-sm-offset-1 col-sm-6">
 <div class="jumbotron">
  <h1>新規アカウントを作成!</h1>
  <p></p>
  <p><%= link_to 'ログイン', new_user_session_path, class:"btn btn-primary btn-lg" %></p>
  <p><%= link_to 'サインアップ', new_user_registration_path ,class:"btn btn-primary btn-lg"%></p>
</div>
</div>
</div>
</div>
