<p>コメント一覧</p>
<ul>
 <% comments.each do |comment| %>

<div class = "row">

  <% unless comment.id.nil? %>
   <li class="each_comment">
    <div class="left"><%= comment.user.name %>さん         <%= comment.content %></div>
    <% if current_user.id == comment.user.id %>
    <div class="edit_delete_links">
      <%= link_to '編集', edit_topic_comment_path(topic, comment) %>
      <%= link_to '削除', topic_comment_path(topic, comment), method: :delete, remote: true, data: { confirm: '本当に削除していいですか？' } %>
    </div>
     <% end %>
    <div class="each_comment_created_at">
      <time datetime="<%= comment.created_at %>">
      <%= time_ago_in_words(comment.created_at)+"前" %>
      </time>
    </div>
   </li>
   <% end %>

</div>

  <% end %>
</ul>
