<p id="notice"><%= notice %></p>
<%= render 'form' %>
<div class="container">
 <div  class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
   <% @topics.reverse_order.each do |topic| %>
    <div id=main_article class="row">
      <%= image_tag(topic.user.image_url) %><%= topic.user.name %>
       <p><%= topic.created_at.strftime('%Y年%m月%d日%H時')%> に投稿</p>
      <p class=article_content><%= topic.content %></p>
      <p class=article_image><%=  image_tag topic.image_url %></p>
      <section class=edit_destroy_glyphicon>
       <tb><%= link_to '', edit_topic_path(topic), class: 'glyphicon glyphicon-edit'  %></tb>
       <tb><%= link_to '', topic, method: :delete, data: { confirm: '本当にいいですか？'}, class: 'glyphicon glyphicon-trash' %></tb>
     </section>
    </div>
   <% end %>
 </div>
</div>
